*{
	margin : 0;
	padding : 0;
	border : 0;
}
body{
	background : #ecf0f1;
	color : #67727A;
	font-family: 'Montserrat', sans-serif;
	margin : 0;
}
h1{
	font-family: 'Roboto', sans-serif;
	font-size: 450%;
	color: white;
}
h2{
	font-size : 200%;
	font-weight : 500;
	padding-top : 2%;
	color : black;
	text-align: center;
}
h3{
	font-family: 'Satisfy', cursive;
	font-size : 175%;
	line-height : 150%;
	padding : 2% 0 0 0;
	color : #F5F5F5;
}
h4{
	font-size: 150%;
	color: black;
	font-family: 'Open Sans Condensed', sans-serif;
}
p{
	font-family: 'Open Sans Condensed', sans-serif;
	color : black;
	font-size : 120%;
	line-height : 150%;
	padding : 3%;
}
a{
	text-decoration: none;
}
.black-ribbon {   position: fixed;   z-index: 9999;   width: 70px; }
@media only all and (min-width: 768px) { .black-ribbon { width: auto; } }

.stick-left { left: 0; }
.stick-right { right: 0; }
.stick-top { top: 0; }
.stick-bottom { bottom: 0; }
header{
	background-color : #111111;
	border-top: 2px solid #ffcc00;
	width : 100%;
	height : 66px;
}
#header-inner{
	max-width : 1200px;
	margin : 0 auto;
}
#logo{
	margin : 5px 20px 0 0;
	float : left;
	width : 150px;
	height : 60px;
	background : url(img/logo2.png) no-repeat;
}
/*---- Start Navigation---*/
nav{
	margin: 0 auto;
	padding : 25px 60px 0 0;
}
#menu-icon{
	display : hidden;
	width : 30px;
	height : 30px;
	background : url(img/nav.png) center;
}
a:hover#menu-icon{
	border-radius : 4px 4px 0 0;
}
ul{
	list-style-type : none;
}
nav ul li{
	font-family: 'Montserrat', sans-serif;
	font-size : 100%;
	display : inline-block;
	float : left;
	padding : 0 30px 0 30px;
}
nav ul li a{
	color : #F5F5F5;
	padding: 0;
	padding: 20px 0 20px 0;
	text-decoration : none;
}
nav ul li a:hover{
	padding-bottom: 20px;
	border-bottom: 3px solid #ffcc00;
	color: #ffcc00;
}
.current{
	color: #ffcc00;
	padding-bottom: 20px;
	border-bottom: 3px solid #ffcc00;
}
li a, .dropbtn {
    color: white;
    text-decoration: none;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
	margin-top: 20px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	border: none;
    text-align: center;
}
.dropdown-content a:hover {
	padding: 12px 16px;
	background-color: #222222;
	border: none;
	color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.flag{
	padding: 0;
	margin: 0;
}
.flag:hover{
	padding: 0;
	margin: 0;
	background: white;
}
/*--- End Navigation ---*/
.banner{
	position: relative;
}
.banner-inner{
	position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    text-align: center;
}
#thammasat{
	margin-right: 25%;
}
#university{
	color: #f1c40f;
	margin-left: 21%;
	animation: 15s example infinite;
}
.slider{
	overflow: hidden;
	height: 650px;
}
.slider figure div{
	width: 20%;
	float: left;
}
.slider figure img{
	width: 100%;
	float: left;
}
.slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 15s slidy infinite;
}
@keyframes slidy{
	0%{
		left: 0%;
	}
	10%{
		left: 0%;
	}
	30%{
		left: -100%;
	}
	40%{
		left: -100%;
	}
	60%{
		left: -100%;
	}
	70%{
		left: -100%;
	}
	96%{
		left: 0%;
	}
}
@keyframes example {
    0%{color: #f1c40f;}
    50%{color: #CD0000;}
	96%{color: #f1c40f;}
}
/*--- End Banner ---*/
#news{
	width: 95%;
	margin: 0 auto;
	text-align: center;
	background: #ecf0f1;
}
#headline{
	margin: 5% 0 5% 0;
	color: #333333;
}
#headline2{
	margin: 0 0 5% 0;
	color: #333333;
	font-family: 'Montserrat', sans-serif;
	font-size: 120%;
}
.paragraph{
	position: relative;
	float: left;
	width: 30%;
	margin: 20px;
	display: inline-block;
}
.news-pic{
	height: 200px;
}
.news-img{
	border-radius: 10px 10px 0 0;
}
.news-content{
	background: white;
	height: 350px;
	border-radius: 0 0 10px 10px;
}
.news-heading{
	padding: 20px 5px 20px 5px;
}
a h4:hover{
	color: #c0392b;
}
.text{
	margin: 0 5px;
}
.button{
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
	padding: 15px 32px;
    text-align: center;
    text-decoration: none;
	background-color: #e74c3c; 
    color: white;
	border-radius: 20px;
	cursor: pointer;
	margin: 30px 30px 30px 0;
	font-size: 140%;
}
.button:hover{
	font-family: 'Roboto', sans-serif;
	background: #c0392b;
}
footer{
	background-color : #222222;
	width : 100%;
	color: white;
}
.social{
	list-style-type : none;
	text-align : center;
}
.social li{
	display : inline;
}
.social i{
	font-size : 350%;
	margin : 1%;
	padding : 5% 0 5% 3%;
	color : white;
}
.social i:hover{
	color : #FFF59D;
}
#x a{
	color: #222222;
}
@media screen and (max-width: 1280px) and (min-width: 800px){
	.black-ribbon { display: none;}
	.flag{
		display: none;
	}
	nav{
		padding: 25px 30px 0 0;
		margin: 0 auto;
		text-align: center;
	}
	#logo{
		margin: 0;
		width: 150px;
		height: 50px;
	}
	nav ul li{
		font-size : 95%;
		padding : 0 20px 0 20px;
	}
	#news{
		text-align: center;
	}
	.paragraph{
		margin-left: auto;
		margin-right: auto;
		width: 40%;
		display: block;
		float: none;
	}
	span{
		padding: 40px 0 0 0;
		margin-top: 10px;
		display: block;
		font-size: 110%;
	}
	.social li i{
		font-size : 300%;
	}
}
@media screen and (max-width: 800px){
	h1{
		font-size: 300%;
	}
	h2{
		font-size : 150%;
	}
	h3{
		font-size : 125%;
	}
	p{
		font-size : 100%;
	}
	.black-ribbon{
		display: none;
	}
	#logo{
		display: none;
	}
	#menu-icon{
		display : inline-block;
	}
	.flag:hover{
		display: block;
	}
	nav{
		float: right;
	}
	nav ul , nav:active ul{
		display : none;
		z-index : 1000;
		position : absolute;
		padding : 10px;
		background : #111111;
		right : 20px;
		top : 60px;
		border : 1px solid #FFF;
		width : 50%;
	}
	nav:hover ul{
		display : block;
	}
	nav ul li{
		text-align : center;
		width : 100%;
		padding : 10px 0;
	}
	nav ul li a:hover{
		padding: 0;
		border: 0;
		color: #ffcc00;
	}
	.current{
		color: #ffcc00;
		padding: 0;
		border: 0;
	}
	.slider{
		height: 300px;
		width: 100%;
	}
	.paragraph{
		width: 90%;
	}
	span{
		padding: 40px 0 10px 0;
		margin-top: 10px;
		display: block;
		font-size: 70%;
	}
	.social li i{
		font-size : 300%;
	}
}