*{
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	margin: 0;
	padding: 0;
	background: #000000;
}
h3{
	font-size: 350%;
	line-height: 150%;
	font-family: 'Frijole', cursive;
	text-align: center;
	padding: 5% 0 0 0;
	color: white;
}
h2{
	font-size: 210%;
	text-align: center;
	padding: 5% 0 0 0;
	font-family: 'Frijole', cursive;
	color: white;
}
#box{
	background: #000000;
	width: 70%;
	height: 500px;
	margin: 0 auto;
}
#input{
	text-align: center;
	margin: 40px 0 0 0;
	width: 100%;
}
input[type=text]{
	font-family: 'Roboto', sans-serif;
	border: none;
	height: 40px;
	width: 50%;
	margin: 0 0 15px 0;
	padding: 0 0 0 10px;
	color: red;
	font-size: 100%;
}
input[type=password]{
	font-family: 'Roboto', sans-serif;
	border: none;
	height: 40px;
	width: 50%;
	margin: 0 0 15px 0;
	padding: 0 0 0 10px;
	color: red;
	font-size: 100%;
}
input[type=checkbox]{
	margin: 10px 5px 10px 0;
}
#submit{
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: bolder;
	padding: 15px 32px;
    text-align: center;
    text-decoration: none;
	background-color: rgba(231, 76, 60,1.0); 
    color: white; 
    border-radius: 10px;
	cursor: pointer;
	margin: 20px;
	font-size: 140%;
	width: 30%;
}
#submit:hover{
	
}